name: smartagent release

on:
  push:
    branches: [ release ]
  pull_request:
    branches: [ release ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: build
        uses: jkstack/smartagent-build@master

      - name: release
        uses: jkstack/smartagent-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}